.Home-container {
  margin-top: var(--l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.Home-list {
  min-width: 300px;
}

.Home-create {
  margin-bottom: var(--l);
}

.Home-queues{
  display: flex;
  flex-direction: row;
}

.Home-queues > div {
  margin: var(--s)
}

.Home-filters {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Home-filters > div {
  margin: 2px;
}

.Home-filters > span {
  font-weight: bold;
}