.List-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.List-header {
  font-size: 22pt;
  text-align: center;
}

.List-buttoncontainer {
  margin-bottom: 0 !important;
}

.List-buttoncontainer button {
  margin: 0px 2px;
}
