.MyRequests-compact-toggle {
  position: absolute;
  right: 0;
  padding-right: inherit;
}

.MyRequests-hide-toggle {
  position: absolute;
  left: 0;
  padding-left: inherit;
}

.MyRequests-toggle-label {
  padding-right: var(--s);
}

.MyRequests-login {
  margin-top: 20px;
}

.MyRequests-header {
  font-size: 22pt;
  text-align: center;
}
