.Queue-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Queue-header {
  font-size: 22pt;
  text-align: center;
}

.Queue-buttoncontainer {
  margin-bottom: 0 !important;
}

.Queue-buttoncontainer button {
  margin: 0px 2px;
}

.Queue-compact-status {
  font-size: 15pt;
}

.Queue-compact-status .MapCard-status {
  margin-right: var(--xs);
}

.Queue-compact-comment {
  font-size: 18pt;
  text-align: center;
}

.Queue-compact-toggle {
  position: absolute;
  right: 0;
  padding-right: inherit;
}

.Queue-compact-toggle-label {
  padding-right: var(--s);
}
