.Queue-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Queue-header {
  font-size: 22pt;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.Queue-subheader {
  font-size: 10pt;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.Queue-icon-outer {
  display: inline-flex;
  align-items: center;
}

.Queue-header-icon {
  font-size: 28pt;
}

.Queue-header-icon svg {
  color: rgb(222, 106, 154);
}

.Queue-header-icon svg:hover {
  color: rgba(222, 106, 154, 0.85);
}

.Queue-buttoncontainer {
  margin-bottom: 0 !important;
}

.Queue-buttoncontainer button {
  margin: 0px 2px;
}

.Queue-compact-status {
  font-size: 15pt;
}

.Queue-compact-status .MapCard-status {
  margin-right: var(--xs);
}

.Queue-compact-comment {
  font-size: 18pt;
  text-align: center;
}

.Queue-compact-toggle {
  position: absolute;
  right: 0;
  padding-right: inherit;
}

.Queue-compact-toggle-label {
  padding-right: var(--s);
}
