.Request-container {
  margin-top: var(--l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

.Request-mapbox {
  margin-top: var(--l);
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Request-edit-button {
  margin-top: var(--s);
}

.Request-notes {
  display: block;
}

.Request-error {
  background-color: white;
  margin-top: var(--l);
  animation: fadeIn ease 1s;
}

.Request-form {
  background-color: white;
  padding: var(--m);
}

.Request-form form {
  width: 500px;
}
