.Request-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.Request-mapbox {
  margin-top: var(--l);
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Request-edit-button {
  margin-top: var(--s);
  margin-bottom: var(--m);
}

.Request-notes {
  display: block;
  background-color: white;
  padding: var(--m);
  padding-bottom: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 0px;
  margin-top: var(--xs);
}

.Request-error {
  background-color: white;
  margin-top: var(--l);
  animation: fadeIn ease 1s;
}

.Request-form {
  margin-top: var(--l);
  background-color: white;
  padding: var(--l);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 0px;
}

.Request-form form {
  width: 500px;
}

.Request-loading {
  margin: 40px 0;
  padding: 30px 50px;
}
