.Settings-wrapper {
  max-width: 500px;
}

.Settings-button-container button {
  margin: 0px 2px;
}

.Settings-loading {
  width: 100%;
  margin: 40px 0;
  padding: 30px 50px;
}

.Settings-container {
    display: flex;
    justify-content: center;
}
