.content .MapCard-card {
  margin: var(--m);
  max-width: 600px;
  flex-basis: 400px;
  box-shadow: 0 0 12px;
}

.MapCard-card a img {
  width: 100%;
}

.MapCard-inside {
  display: flex;
}

.MapCard-card .ant-card-body {
  padding: var(--s) var(--m);
}

.MapCard-card .ant-card-head-title {
  padding: var(--s) 0;
}

.MapCard-title {
  font-size: 24px;
  display: flex;
  align-items: center;
}

.MapCard-icon {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: inline-block;
  margin-right: var(--m);
  box-shadow: 2px 2px 2px var(--darkgrey);
}

.MapCard-row {
  line-height: 1.25;
  font-size: 13pt;
}

.MapCard-primary {
  font-size: 16pt;
  color: rgb(47, 47, 47);
  display: flex;
  justify-content: space-between;
}

.MapCard-divider {
  height: var(--m);
}

.MapCard-attr-row {
  display: flex;
}

.MapCard-attr {
  margin: 0px var(--s);
  font-size: 13pt;
}

.MapCard-small {
  font-size: 11pt;
  color: rgb(125, 125, 125);
}

.MapCard-status {
  margin-right: var(--m);
}

.MapCard-diff-list {
  display: flex;
  flex-direction: wrap;
}

.MapCard-diff {
  border: 1px solid var(--darkgrey);
  box-shadow: 2px 2px 2px var(--medgrey);
  padding: var(--xs);
  margin: var(--s);
  display: flex;
  flex-direction: column;
  align-items: center;
}
