
.QueueHeader-main {
  font-size: 22pt;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: var(--xs);
}

.QueueHeader-subheader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: var(--s);
}

.QueueHeader-icon-outer {
  display: inline-flex;
  align-items: center;
}

.QueueHeader-icon {
  font-size: 28pt;
}

.QueueHeader-icon svg {
  color: rgb(222, 106, 154);
}

.QueueHeader-icon svg:hover {
  color: rgba(222, 106, 154, 0.85);
}